* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;
}
nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
hr{
    width: 70%;
    margin: auto;
    color: #37348E;
}
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navi {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
}

.headerdiv {
    width: 100%;
    height: 650px;
    background-image: url("head.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.About {
    display: flex;
    flex-direction: row;
    gap: 100px; 
    padding: 80px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}
.aboutimage{
    background-color: rgb(255, 255, 255);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abouttext {
    background-color: #ffffff;
    margin: 0 50px;
    line-height: 1.8;
    font-family: sans-serif;
    font-size: 18px;
    color: #37348E;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.abouttext p {
    margin-bottom: 20px;
}

.section-title {
    color: #37348E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}
.section-subtitle{
    color: #37348E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.Services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 150px;
}

.Services ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 30px;
}

.Services h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size:  20px;
    color: #37348E;
}
.Why{
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 80px;
}
.houseimg{
    background-color: #ffffff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
}
.Contact{
    background-color: #E7E8F4;
    padding: 100px;

    display: flex;
    flex-direction: row;
}
.icon{
    width: 30px;
}
.info{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 10px;

    gap: 10px;
}
.Contact-text{
    width: 50%;
}
.gmap{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}